
{{define "appdb"}}
<ul class="nav nav-tabs" id="myTab" role="tablist" style="background: #272470;">
    <li class="nav-item" role="presentation">
        <button class="nav-link " id="showappdb-tab" data-bs-toggle="tab" data-bs-target="#showappdb" type="button"
            role="tab" aria-controls="showappdb" aria-selected="true">Show App DB Data</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link " id="editappdb-tab" data-bs-toggle="tab" data-bs-target="#editappdb" type="button"
            role="tab" aria-controls="editappdb" aria-selected="true">Edit Data</button>
    </li>
</ul>
<div class="tab-pane fade" id="showappdb" role="tabpanel" aria-labelledby="showappdb-tab" tabindex="0">

    {{if $.Alltabledata}}
    {{range $i , $FF := .Alltabledata}}
    <div style="border:1px solid black;padding:1%;margin:1%;">Table {{RemoveBrackets $FF.Name}} </div>
    <table class="table table-striped">
        <thead>
            <tr>
            {{range $FFa := $FF.Columns}}
            <th scope="col"> {{$FFa }}</th>
                {{end}}
            
            </tr>
        </thead>
        <tbody>
            {{ $length := len $FF.Columns}} 
            {{ $myList := chunk $length $FF.Values}}
            {{range $FF := $myList}}
            <tr>
            {{range $AA := $FF}}
            <th scope="row">{{$AA}}</th>
            {{end}}
            </tr>
            {{end}}
    </tbody>
</table>  
    {{end}}
    {{end}}
</div>
<!-- https://www.practical-go-lessons.com/chap-32-templates -->
<div class="tab-pane fade" id="editappdb" role="tabpanel" aria-labelledby="editappdb-tab" tabindex="0">
    {{if $.Alltabledata}}
    {{range $i , $FF := .Alltabledata}}
    <div style="border:1px solid black;padding:1%;margin:1%;">Table {{RemoveBrackets $FF.Name}} </div>
    <table class="table table-striped">
        <thead>
            <tr>
            {{range $FFa := $FF.Columns}}
            <th scope="col"> {{$FFa }}</th>
                {{end}}
            
            </tr>
        </thead>
        <tbody>
            {{ $length := len $FF.Columns}} 
            {{ $myList := chunk $length $FF.Values}}
            {{range $FF := $myList}}
            <tr>
              
            {{range $tt, $AA := $FF}}
            <th scope="row">{{$AA}}</th>
            {{end}}
            </tr>
            {{end}}
    </tbody>
</table>  
 

    <tr>
        <th scope="col">
            <form class="border border-1" action="/updateappdb/{{$FF.Name}}" method="POST">
                <div style="display: flex;gap: 20px;flex-direction: row;">

                    <!-- {{range $i , $Name := $FF.Name}} -->
                    <!-- <span>
                        <label for="{{$Name}}">Table Name</label>
                        <input  cope="col" type="text" id="{{$Name}}" name="{{$Name}}" value="{{$Name}}">
                    </span> -->

                        <!-- {{end}} -->
                {{range $i , $Col := $FF.Columns}}
                
                    <span><label for="{{$Col}}">{{$Col}}</label>
                    <input  cope="col" type="text" id="{{$Col}}" name="{{$Col}}"></span>
                {{end}}
            </div>
                <input class="waves-effect waves-teal btn-flat" type="submit" value="Submit">
            </form>
        </th>
    </tr>
    {{end}}
    {{end}}

</div>

{{end}}