{{define "generate"}}
<div class="tab-pane fade " id="generate" role="tabpanel" aria-labelledby="home-tab">
  <a class="waves-effect waves-teal btn-flat" href="/config">create config</a>
  <a class="waves-effect waves-teal btn-flat" href="/server">create server</a>
  <a class="waves-effect waves-teal btn-flat" href="/db">create database</a>
  <a class="waves-effect waves-teal btn-flat" href="/hotload">hot reload</a>
  <a class="waves-effect waves-teal btn-flat" href="/reload">Reload</a>
</div>
{{end}}