<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a href="/startprod/true"><button>Start production</button></a><br>
    <a href="/startdev/true"><button>Start dev</button></a><br>
    <a href="/stop/true"><button>Stop</button></a><br>
    <a href="/reload/true"><button>Reload</button></a><br>

    <a href="/config/true"><button>create config</button></a><br>
    <a href="/server/true"><button>create server</button></a><br>
    <form action="/page" method="POST">
        <label for="title">title:</label><br>
        <input type="text" id="title" name="title" value="new page"><br>
        <label for="url">URL:</label><br>
        <input type="text" id="url" name="url" value="/newpage/"><br><br>
        <input type="submit" value="Submit">
        {{if .urls}}
        {{range $i, $titles := .titles}}
        {{$urls := index $.urls $i}}
        <h3>{{$titles}}</h3><a href="{{$urls}}">{{$urls}}</a>
        {{end}}
        {{else}}
        no url
        {{end}}


    </form>
</body>

</html>