{{define "dashboarddb"}}
<ul class="nav nav-tabs" id="myTab" role="tablist" style="background: #272470;">
    <li class="nav-item" role="presentation">
        <button class="nav-link " id="showeditor-tab" data-bs-toggle="tab" data-bs-target="#showeditor" type="button"
            role="tab" aria-controls="showeditor" aria-selected="true">Show Editor</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link " id="showetable-tab" data-bs-toggle="tab" data-bs-target="#showetable" type="button"
            role="tab" aria-controls="showetable" aria-selected="true">Show Tables</button>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <!-- show editor -->
    <div class="tab-pane fade show active" id="showeditor" role="tabpanel" aria-labelledby="showeditor-tab"tabindex="0">
        <!-- what fields did you want? -->
        <div class="fields">
            <label for="fields">How many fields?:</label><br>
            <input type="text" id="fa" name="fa" value="2"><br>
            <button class="createform">Create table</button>
        </div>
        <div class="row">
            <form class="col s12 forms" action="/dbdata" method="POST">
                <label for="table">Table:</label><br>
                <input type="text" id="stable" name="stable" value=""><br><br><br>
                <div class="choosekind"></div>
                <input class="waves-effect waves-teal btn-flat" type="submit" value="Submit">
            </form>
        </div>
        <script>
            $(".forms").hide();
            $(".createform").click(function () {
                $(".forms").show();
                //get value of fields
                var value = $("#fa").val();
                //if value is used then show next
                if (value > 0) {
                    $(".fields").hide();
                    $(".table").hide();
                    $(".choosekind").show();
                }
                if (value > 10) {
                    alert("cant be over 11!")
                }
                var i;
                for (i = 0; i < value; i++) {
                    $(".choosekind").append(`<div class=" col s6">
                        <label class="col-sm-2 col-form-label" for="f` + i + `">Field</label>
      <input  class="f` + i + `" name="f` + i + `" id="f` + i + `" type="text">
      <label class="col-sm-2 col-form-label" for="t` + i + `">Type</label>
      <select class="form-select t` + i + `" name="t` + i + `" id="t` + i + `" aria-label="Default select example">
        <option value="" disabled selected>Choose your type</option>
            <option value="int">int</option>
            <option value="string">string</option>
            <option value="blob">blob</option>
            <option value="real">real</option>
            <option value="numeric">numeric</option>
      </select>
  `);
                }
            });
            
        </script>
    </div>

    <!-- show table -->
    <div class="tab-pane fade" id="showetable" role="tabpanel" aria-labelledby="showetable-tab" tabindex="0">
        <!-- what fields did you want? -->
        {{if $.F}}
        {{range $i , $F := .F}}
        <!-- show tables -->
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne">
                        <span>Table {{index $F.Stable}} </span>
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                    aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                        
                        <span> <a class="badge bg-danger" href="/removetable/remove/{{index $F.Stable}}">Drop Table</a>
                            <a class="badge bg-success"  href="/addtabletoapp/{{index $F.Stable}}">Add Table to App</a></span>

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Field1</th>
                                    <th scope="col">Field2</th>
                                    <th scope="col">Field3</th>
                                    <th scope="col">Field4</th>
                                    <th scope="col">Field5</th>
                                    <th scope="col">Field6</th>
                                    <th scope="col">Field7</th>
                                    <th scope="col">Field8</th>
                                    <th scope="col">Field9</th>
                                    <th scope="col">Field10</th>
                                    <th scope="col">Field11</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">{{$F.ID}}</th>
                                    <td>{{$F.F0}}-{{$F.T0}}</td>
                                    <td>{{$F.F1}}-{{$F.T1}}</td>
                                    <td>{{$F.F2}}-{{$F.T2}}</td>
                                    <td>{{$F.F3}}-{{$F.T3}}</td>
                                    <td>{{$F.F4}}-{{$F.T4}}</td>
                                    <td>{{$F.F5}}-{{$F.T5}}</td>
                                    <td>{{$F.F6}}-{{$F.T6}}</td>
                                    <td>{{$F.F7}}-{{$F.T7}}</td>
                                    <td>{{$F.F8}}-{{$F.T8}}</td>
                                    <td>{{$F.F9}}-{{$F.T9}}</td>
                                    <td>{{$F.F10}}-{{$F.T10}}</td>
                                    <td>{{$F.F11}}-{{$F.T11}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {{end}}
        {{end}}
    </div>
</div>

<script>

    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, options);
      });
    
      // Or with jQuery
    
      $(document).ready(function(){
        $('select').formSelect();
      });
</script>
    {{end}}