{{define "database"}}

<div class="tab-pane fade " id="database" role="tabpanel" aria-labelledby="database-tab">
    <!-- database creation -->
    <ul class="nav nav-tabs" id="myTab" role="tablist" style="background: #262531;">
        <li class="nav-item" role="presentation">
            <button class="nav-link " id="dashboarddb-tab" data-bs-toggle="tab" data-bs-target="#dashboarddb" type="button"
                role="tab" aria-controls="dashboarddb" aria-selected="true">Dashboard DB</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link " id="appdb-tab" data-bs-toggle="tab" data-bs-target="#appdb" type="button"
                role="tab" aria-controls="appdb" aria-selected="true">App DB</button>
        </li>
    </ul>
    <div class="tab-pane fade" id="dashboarddb" role="tabpanel" aria-labelledby="dashboarddb-tab" tabindex="0">
        {{ template "dashboarddb" . }}
    </div>
    <div class="tab-pane fade" id="appdb" role="tabpanel" aria-labelledby="appdb-tab" tabindex="0">
        {{ template "appdb" . }}
    </div>
</div>
<style>
    .fade:not(.show){
        display:none;
    }
    .active{
        display:block;
    }
</style>

{{end}}

