{{define "show"}}
<div class="tab-pane fade show active" id="show" role="tabpanel" aria-labelledby="show-tab">
    <div class="card" style="width: 32%;float: left;">
      <div class="card-body">
        <h6 for="">Add your pages</h6>
        <form class="border border-1" action="/page" method="POST">
          <label for="title">title:</label><br>
          <input type="text" id="title" name="title" value="new page"><br>
          <label for="url">URL:</label><br>
          <input type="text" id="url" name="url" value="/newpage/"><br><br>
          <input class="waves-effect waves-teal btn-flat" type="submit" value="Submit">
        </form>
        <ul class="nav nav-tabs" id="addlib" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="js-tab" data-bs-toggle="tab" data-bs-target="#js" type="button" role="tab" aria-controls="js" aria-selected="true">Add JS</button>
          </li>
          <li class="nav-item active" role="presentation">
            <button class="nav-link" id="css-tab" data-bs-toggle="tab" data-bs-target="#css" type="button" role="tab" aria-controls="css" aria-selected="false">Add CSS</button>
          </li>
        </ul>
        <div class="tab-content" id="addlibContent">
          <div class="tab-pane fade show active" id="js" role="tabpanel" aria-labelledby="js-tab">
            <h6 for="">Add your 3rd party library</h6>
            <form class="border border-1" action="/lib" method="POST">
              <div class="input-field col s6">
                <input placeholder="Placeholder" id="lib" name="lib" type="text" class="validate">
                <label for="lib">Enter your library</label>
              </div>
              <div class="input-field col s6">
                <input placeholder="Placeholder" id="libtag" name="libtag" type="text" class="validate">
                <label for="lib">Enter your tag</label>
              </div>
              <input class="waves-effect waves-teal btn-flat" type="submit" value="Submit">
            </form>
          </div>
          <div class="tab-pane fade " id="css" role="tabpanel" aria-labelledby="css-tab">
            <h6 for="">Add your css library</h6>
            <form class="border border-1" action="/libcss" method="POST">

              <div class="input-field col s6">
                <input placeholder="Placeholder" id="lib" name="lib" type="text" class="validate">
                <label for="lib">Enter your library</label>
              </div>
              <div class="input-field col s6">
                <input placeholder="Placeholder" id="libtag" name="libtag" type="text" class="validate">
                <label for="lib">Enter your tag</label>
              </div>
              <input class="waves-effect waves-teal btn-flat" type="submit" value="Submit">
            </form>
          </div>
        </div>
        <ul class="nav nav-tabs" id="addlibtopage" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="footer-tab" data-bs-toggle="tab" data-bs-target="#footer" type="button" role="tab" aria-controls="footer" aria-selected="true">Footer</button>
          </li>
          <li class="nav-item active" role="presentation">
            <button class="nav-link" id="header-tab" data-bs-toggle="tab" data-bs-target="#header" type="button" role="tab" aria-controls="header" aria-selected="false">Header</button>
          </li>
          <li class="nav-item active" role="presentation">
            <button class="nav-link" id="addjspage-tab" data-bs-toggle="tab" data-bs-target="#addjspage" type="button" role="tab" aria-controls="addjspage" aria-selected="false">Add JS</button>
          </li>
          <li class="nav-item active" role="presentation">
            <button class="nav-link" id="addcsspage-tab" data-bs-toggle="tab" data-bs-target="#addcsspage" type="button" role="tab" aria-controls="addcsspage" aria-selected="false">Add CSS</button>
          </li>
        </ul>
        <div class="tab-content" id="addlibContent">
          <div class="tab-pane fade show active" id="footer" role="tabpanel" aria-labelledby="footer-tab">
            <label for="libtag">Select the Lib to add to the Footer file</label>
            <form class="" action="/addfooterlib" method="POST" style="padding: 0;margin: 0;">
              <div class=" col s6">
                <select class="form-select" id="libtag" name="libtag">
                  {{ if .L}}
                  {{range $i , $L := .L}}
                  <option value="{{index $L.Tag}}">{{index $L.Tag}}</option>
                  {{end}}
                  {{end}}
                </select>
              </div>
              <input class="waves-effect waves-teal btn-flat" type="submit" value="Submit">
            </form>
          </div>
          <div class="tab-pane fade " id="header" role="tabpanel" aria-labelledby="header-tab">
            <label for="libtag">Select the Lib to add to the header file</label>
            <form class="" action="/addfooterlib" method="POST" style="padding: 0;margin: 0;">
              <div class=" col s6">
                <select class="form-select" id="libtag" name="libtag">
                  {{ if .C}}
                  {{range $i , $C := .C}}
                  <option value="{{index $C.Css}}">{{index $C.Csstag}}</option>
                  {{end}}
                  {{end}}
                </select>
              </div>
              <input class="waves-effect waves-teal btn-flat" type="submit" value="Submit">
            </form>
          </div>
          <div class="tab-pane fade " id="addjspage" role="tabpanel" aria-labelledby="addjspage-tab">
            <h6 for="">Add library to a page.</h6>
            <form class="border border-1" action="/chooselib" method="POST">
              <label for="libtag">Select the Lib tag</label>
              <div class=" col s6">
                <select class="form-select" id="libtag" name="libtag" type="text">
                  {{ if .L}}
                  {{range $i , $L := .L}}
                  <option value="{{index $L.Tag}}">{{index $L.Tag}}</option>
                  {{end}}
                  {{end}}
                </select>
              </div>
              <label for="titles">Select the Title</label>
              <div class=" col s6">
                <select class="form-select" id="titles" name="titles" type="text">
                  {{ if .U}}
                  {{range $i , $U := .U}}
                  <option value="{{$U.Titles}}">{{$U.Titles}}</option>
                  {{end}}
                  {{end}}
                </select>
              </div>
              <input class="waves-effect waves-teal btn-flat" type="submit" value="Submit">
            </form>
          </div>
          <div class="tab-pane fade " id="addcsspage" role="tabpanel" aria-labelledby="addcsspage-tab">
            <h6 for="">Add CSS to a page.</h6>
            <form class="border border-1" action="/chooselib" method="POST">
              <label for="libtag">Select the Lib tag</label>
              <div class=" col s6">
                <select class="form-select" id="libtag" name="libtag" type="text">
                  {{ if .C}}
                  {{range $i , $C:= .C}}
                  <option value="{{index $C.Css}}">{{index $C.Csstag}}</option>
                  {{end}}
                  {{end}}
                </select>
              </div>
              <label for="titles">Select the Title</label>
              <div class=" col s6">
                <select class="form-select" id="titles" name="titles" type="text">
                  {{ if .U}}
                  {{range $i , $U := .U}}
                  <option value="{{$U.Titles}}">{{$U.Titles}}</option>
                  {{end}}
                  {{end}}
                </select>
              </div>
              <input class="waves-effect waves-teal btn-flat" type="submit" value="Submit">
            </form>
          </div>
        </div>
      </div>
    </div>
    <a class="waves-effect waves-teal btn-flat" href="/show">show URLs and Libraries</a>
    <a class="waves-effect waves-teal btn-flat" href="/observe">Observe</a>
    <a class="badge bg-success" href="/production">Start App</a>
    <!-- <a class="badge bg-success" href="/dev">Start Watcher</a> -->
    <ol class="lists collection list-group list-group-numbered">
      {{ if .U}}
      {{range $i , $U := .U}}
      <li class="list-group-item">
        <span>{{$U.Titles}}-<a href="http://localhost:3000/route/{{index $U.Urls}}" target="_blank">
            {{index $U.Urls}}</a></span>
        <span>
          <a class="waves-effect waves-teal btn-flat" href="/d/delete{{index $U.Urls}}">Delete</a>
        </span>
        <span class="alert-success">Library-{{index $U.Libtag}}</span>
      </li>
      {{end}}
      {{end}}
    </ol>
  </div>


  {{ if $.S.Exe}}
  <table class="table table-sm" style="width: 44%; float: left;">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Name</th>
        <th scope="col">Pid</th>
        <th scope="col">ParentPid</th>
        <th scope="col">Start</th>
        <th scope="col">End</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Your App</th>
        <td>
          <div class="badge bg-info text-dark">{{$.S.Exe}}</div>
        </td>

        <td>
          <div class="badge bg-dark">{{$.S.Pid}}</div>
        </td>

        <td>
          <div class="badge bg-dark">{{$.S.Ppid}}</div>
        </td>


        <td> <a class="badge bg-success" href="/production">Start</a></td>
        <td><a class="badge bg-danger" href="/stop">Stop</a></td>
      </tr>
      <tr>
        <th scope="row">Files</th>
        <td>
            <ul class="list-group">
              {{range $F := .S.Files}}
              {{if contains ".go" $F}}
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">{{$F}}</div>
                </div>
                <span class="badge bg-info text-dark"><i class="far fa-file-code"></i></span>
              </li>

              {{else}}
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">{{$F}}</div>
                </div>
                <span class="badge bg-dark"><i class="far fa-folder"></i></span>
              </li>

        
              {{end}}
              {{end}}
            </ul>

            
        </td>
      </tr>
      <tr>
        <th scope="row">Tables</th>
        <td>
            <ul class="list-group">
              {{if $.Alltabledata}}
              {{range $i , $FF := .Alltabledata}}
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Table {{RemoveBrackets $FF.Name}} </div>
                </div>
                <span class="badge bg-info text-dark"><i class="fas fa-database"></i></span>
              </li>
              {{end}}
              {{end}}
            </ul>
        </td>
      </tr>
    </tbody>
  </table>
  {{end}}
  <!-- https://go.dev/play/p/_N963_qF5v6 -->
</div>
{{end}}

