{{ template "header" . }}

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link " id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab"
            aria-controls="home" aria-selected="true">Generate</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
            role="tab" aria-controls="profile" aria-selected="false">Server</button>
    </li>
    <li class="nav-item active" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button"
            role="tab" aria-controls="contact" aria-selected="false">Show</button>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade " id="home" role="tabpanel" aria-labelledby="home-tab">
        <a class="waves-effect waves-teal btn-flat" href="/config/true">create config</a>
        <a class="waves-effect waves-teal btn-flat" href="/server/true">create server</a>
        <a class="waves-effect waves-teal btn-flat" href="/routesconfig/true">create routes
            config</a>
        <a class="waves-effect waves-teal btn-flat" href="/db/true">create database</a>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <a class="waves-effect waves-teal btn-flat" href="/startprod/true">Start production</a>
        <a class="waves-effect waves-teal btn-flat" href="/startdev/true">Start dev</a>
        <a class="waves-effect waves-teal btn-flat" href="/stop/true">Stop</a>
        <a class="waves-effect waves-teal btn-flat" href="/reload/true">Reload</a>
    </div>
    <div class="tab-pane fade show active" id="contact" role="tabpanel" aria-labelledby="contact-tab">

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <form action="/page" method="POST">
                    <label for="title">title:</label><br>
                    <input type="text" id="title" name="title" value="new page"><br>
                    <label for="url">URL:</label><br>
                    <input type="text" id="url" name="url" value="/newpage/"><br><br>
                    <input class="waves-effect waves-teal btn-flat" type="submit" value="Submit">
                </form>
            </div>
        </div>
        <a class="waves-effect waves-teal btn-flat" href="/show/true">show urls</a>
        <a class="waves-effect waves-teal btn-flat" href="/hotload/true">reload</a>
        <ol class="list-group list-group-numbered">
            {{if .urls}}
            {{range $i, $titles := .titles}}
            {{$urls := index $.urls $i}}
            <li class="list-group-item"><span>{{$titles}}-<a href="http://localhost:3000/route{{$urls}}"
                        target="_blank">{{$urls}}</a></span></li>
            {{end}}
        </ol>
        {{else}}
        no url
        {{end}}
    </div>
</div>

<style>
    .btn-flat {
        text-decoration: none;
    }

    .box {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2em;
    }

    .box img {
        width: 100px;
        height: 114px;
        -webkit-box-shadow: 1px 3px 15px -3px #000000;
        box-shadow: 1px 3px 15px -3px #000000;
    }

    .flex-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .flex-item {
        padding: 5px;
        width: 100px;
        height: 100px;
        margin-top: 10px;
        line-height: 150px;
        font-weight: bold;
        font-size: 3em;
        text-align: center;
    }
</style>

{{ template "footer" . }}