{{ template "header" . }}
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link " id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab"
            aria-controls="home" aria-selected="true">Generate</button>
    </li>
    <li class="nav-item active" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button"
            role="tab" aria-controls="contact" aria-selected="false">Show</button>
    </li>
    <li class="nav-item active" role="presentation">
        <button class="nav-link" id="gendatabase-tab" data-bs-toggle="tab" data-bs-target="#gendatabase" type="button"
            role="tab" aria-controls="gendatabase" aria-selected="false">Database</button>
    </li>

</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade " id="home" role="tabpanel" aria-labelledby="home-tab">
        <a class="waves-effect waves-teal btn-flat" href="/config">create config</a>
        <a class="waves-effect waves-teal btn-flat" href="/server">create server</a>
        <a class="waves-effect waves-teal btn-flat" href="/db">create database</a>
        <a class="waves-effect waves-teal btn-flat" href="/hotload">reload</a>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <a class="waves-effect waves-teal btn-flat" href="/reload">Reload</a>
    </div>
    <div class="tab-pane fade show active" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <div class="card" style="width: 18rem;float: left;">
            <div class="card-body">
                <h6 for="">Add your pages</h6>
                <form class="border border-1" action="/page" method="POST">
                    <label for="title">title:</label><br>
                    <input type="text" id="title" name="title" value="new page"><br>
                    <label for="url">URL:</label><br>
                    <input type="text" id="url" name="url" value="/newpage/"><br><br>
                    <input class="waves-effect waves-teal btn-flat" type="submit" value="Submit">
                </form>
                <ul class="nav nav-tabs" id="addlib" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="js-tab" data-bs-toggle="tab" data-bs-target="#js"
                            type="button" role="tab" aria-controls="js" aria-selected="true">Add JS</button>
                    </li>
                    <li class="nav-item active" role="presentation">
                        <button class="nav-link" id="css-tab" data-bs-toggle="tab" data-bs-target="#css" type="button"
                            role="tab" aria-controls="css" aria-selected="false">Add CSS</button>
                    </li>
                </ul>
                <div class="tab-content" id="addlibContent">
                    <div class="tab-pane fade show active" id="js" role="tabpanel" aria-labelledby="js-tab">
                        <h6 for="">Add your 3rd party library</h6>
                        <form class="border border-1" action="/lib" method="POST">
                            <div class="input-field col s6">
                                <input placeholder="Placeholder" id="lib" name="lib" type="text" class="validate">
                                <label for="lib">Enter your library</label>
                            </div>
                            <div class="input-field col s6">
                                <input placeholder="Placeholder" id="libtag" name="libtag" type="text" class="validate">
                                <label for="lib">Enter your tag</label>
                            </div>
                            <input class="waves-effect waves-teal btn-flat" type="submit" value="Submit">
                        </form>
                    </div>
                    <div class="tab-pane fade " id="css" role="tabpanel" aria-labelledby="css-tab">
                        <h6 for="">Add your css library</h6>
                        <form class="border border-1" action="/libcss" method="POST">

                            <div class="input-field col s6">
                                <input placeholder="Placeholder" id="lib" name="lib" type="text" class="validate">
                                <label for="lib">Enter your library</label>
                            </div>
                            <div class="input-field col s6">
                                <input placeholder="Placeholder" id="libtag" name="libtag" type="text" class="validate">
                                <label for="lib">Enter your tag</label>
                            </div>
                            <input class="waves-effect waves-teal btn-flat" type="submit" value="Submit">
                        </form>
                    </div>
                </div>
                <ul class="nav nav-tabs" id="addlibtopage" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="footer-tab" data-bs-toggle="tab" data-bs-target="#footer"
                            type="button" role="tab" aria-controls="footer" aria-selected="true">Footer</button>
                    </li>
                    <li class="nav-item active" role="presentation">
                        <button class="nav-link" id="header-tab" data-bs-toggle="tab" data-bs-target="#header"
                            type="button" role="tab" aria-controls="header" aria-selected="false">Header</button>
                    </li>
                    <li class="nav-item active" role="presentation">
                        <button class="nav-link" id="addjspage-tab" data-bs-toggle="tab" data-bs-target="#addjspage"
                            type="button" role="tab" aria-controls="addjspage" aria-selected="false">Add JS</button>
                    </li>
                    <li class="nav-item active" role="presentation">
                        <button class="nav-link" id="addcsspage-tab" data-bs-toggle="tab" data-bs-target="#addcsspage"
                            type="button" role="tab" aria-controls="addcsspage" aria-selected="false">Add CSS</button>
                    </li>
                </ul>
                <div class="tab-content" id="addlibContent">
                    <div class="tab-pane fade show active" id="footer" role="tabpanel" aria-labelledby="footer-tab">
                        <label for="libtag">Select the Lib to add to the Footer file</label>
                        <form class="" action="/addfooterlib" method="POST" style="padding: 0;margin: 0;">
                            <div class=" col s6">
                                <select class="form-select" id="libtag" name="libtag">
                                    {{ if .L}}
                                    {{range $i , $L := .L}}
                                    <option value="{{index $L.Tag}}">{{index $L.Tag}}</option>
                                    {{end}}
                                    {{end}}
                                </select>
                            </div>
                            <input class="waves-effect waves-teal btn-flat" type="submit" value="Submit">
                        </form>
                    </div>
                    <div class="tab-pane fade " id="header" role="tabpanel" aria-labelledby="header-tab">
                        <label for="libtag">Select the Lib to add to the header file</label>
                        <form class="" action="/addfooterlib" method="POST" style="padding: 0;margin: 0;">
                            <div class=" col s6">
                                <select class="form-select" id="libtag" name="libtag">
                                    {{ if .C}}
                                    {{range $i , $C := .C}}
                                    <option value="{{index $C.Css}}">{{index $C.Csstag}}</option>
                                    {{end}}
                                    {{end}}
                                </select>
                            </div>
                            <input class="waves-effect waves-teal btn-flat" type="submit" value="Submit">
                        </form>
                    </div>
                    <div class="tab-pane fade " id="addjspage" role="tabpanel" aria-labelledby="addjspage-tab">
                        <h6 for="">Add library to a page.</h6>
                        <form class="border border-1" action="/chooselib" method="POST">
                            <label for="libtag">Select the Lib tag</label>
                            <div class=" col s6">
                                <select class="form-select" id="libtag" name="libtag" type="text">
                                    {{ if .L}}
                                    {{range $i , $L := .L}}
                                    <option value="{{index $L.Tag}}">{{index $L.Tag}}</option>
                                    {{end}}
                                    {{end}}
                                </select>
                            </div>
                            <label for="titles">Select the Title</label>
                            <div class=" col s6">
                                <select class="form-select" id="titles" name="titles" type="text">
                                    {{ if .U}}
                                    {{range $i , $U := .U}}
                                    <option value="{{$U.Titles}}">{{$U.Titles}}</option>
                                    {{end}}
                                    {{end}}
                                </select>
                            </div>
                            <input class="waves-effect waves-teal btn-flat" type="submit" value="Submit">
                        </form>
                    </div>
                    <div class="tab-pane fade " id="addcsspage" role="tabpanel" aria-labelledby="addcsspage-tab">
                        <h6 for="">Add CSS to a page.</h6>
                        <form class="border border-1" action="/chooselib" method="POST">
                            <label for="libtag">Select the Lib tag</label>
                            <div class=" col s6">
                                <select class="form-select" id="libtag" name="libtag" type="text">
                                    {{ if .C}}
                                    {{range $i , $C:= .C}}
                                    <option value="{{index $C.Css}}">{{index $C.Csstag}}</option>
                                    {{end}}
                                    {{end}}
                                </select>
                            </div>
                            <label for="titles">Select the Title</label>
                            <div class=" col s6">
                                <select class="form-select" id="titles" name="titles" type="text">
                                    {{ if .U}}
                                    {{range $i , $U := .U}}
                                    <option value="{{$U.Titles}}">{{$U.Titles}}</option>
                                    {{end}}
                                    {{end}}
                                </select>
                            </div>
                            <input class="waves-effect waves-teal btn-flat" type="submit" value="Submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <a class="waves-effect waves-teal btn-flat" href="/show">show URLs and Libraries</a>
        <a class="waves-effect waves-teal btn-flat" href="/observe">Observe</a>
        <a class="badge bg-success" href="/production">Start App</a>
        <a class="badge bg-success" href="/dev">Start Watcher</a>
        <ol class="lists collection list-group list-group-numbered">
            {{ if .U}}
            {{range $i , $U := .U}}
            <li class="list-group-item">
                <span>{{$U.Titles}}-<a href="http://localhost:3000/route/{{index $U.Urls}}" target="_blank">
                        {{index $U.Urls}}</a></span>
                <span>
                    <a class="waves-effect waves-teal btn-flat" href="/d/delete{{index $U.Urls}}">Delete</a>
                </span>
                <span class="alert-success">Library-{{index $U.Libtag}}</span>
            </li>
            {{end}}
            {{end}}
        </ol>
    </div>

    <!-- form gendatabase-tab -->
    <div class="tab-pane fade " id="gendatabase" role="tabpanel" aria-labelledby="gendatabase-tab">
        <div class="table">

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link " id="showeditor-tab" data-bs-toggle="tab" data-bs-target="#showeditor"
                        type="button" role="tab" aria-controls="showeditor" aria-selected="true">Show Editor</button>
                </li>

                <li class="nav-item" role="presentation">
                    <a class="waves-effect waves-teal btn-flat" href="/showtables">Show Tables</a>
                </li>
            </ul>




        </div>
        <!-- what fields did you want? -->
        <div class="tab-pane fade " id="showeditor" role="tabpanel" aria-labelledby="showeditor-tab">
            <div class="fields">
                <label for="fields">Fields:</label><br>
                <input type="text" id="fa" name="fa" value="2"><br>
                <button class="createform">Show fields</button>
            </div>
            <div class="row">
                <form class="col s12" action="/dbdata" method="POST">
                    <label for="table">Table:</label><br>
                    <input type="text" id="table" name="table" value="user"><br><br><br>
                    <div class="choosekind row"></div>
                    <input class="waves-effect waves-teal btn-flat" type="submit" value="Submit">
                </form>

            </div>
            <script>
                $(".createform").click(function () {
                    //get value of fields
                    var value = $("#fa").val();
                    //if value is used then show next
                    if (value > 0) {
                        $(".fields").hide();
                        $(".table").hide();
                        $(".choosekind").show();
                    }
                    if (value > 10) {
                        alert("cant be over 11!")
                    }
                    var i;
                    for (i = 0; i < value; i++) {
                        $(".choosekind").append(`<div class="input-field col s6">
        <input  class="f` + i + `" name="f` + i + `" id="f` + i + `" type="text">
        <label for="f` + i + `">Field</label><div class="input-field col s6">
        <input  class="t` + i + `" name="t` + i + `" id="t` + i + `" type="text">
        <label for="t` + i + `">Type</label>
      </div>
     
    `);
                    }
                    //https://www.javatpoint.com/html-form-input-types
                });

            </script>

        </div>


    </div>




















</div>
</span>
{{ if $.S.Appexe}}
<table class="table table-sm" style="width: 73%;">
    <thead>
        <tr>
            <th scope=" col">Title</th>
            <th scope=" col">Name</th>
            <th scope="col">Path</th>
            <th scope="col">Pid</th>
            <th scope="col">Size</th>
            <th scope="col">ParentPid</th>
            <th scope="col">Threads</th>
            <th scope="col">Usage</th>
            <th scope="col">Start</th>
            <th scope="col">End</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Your App</th>
            <td>
                <div class="badge bg-info text-dark">{{$.S.Appexe}}</div>
            </td>
            <td>
                <div class="badge bg-primary">{{$.S.Apppath}}</div>
            </td>
            <td>
                <div class="badge bg-dark">{{$.S.Apppid}}</div>
            </td>
            <td>
                <div class="badge bg-dark">{{$.S.Appsize}}Mib</div>
            </td>
            <td>
                <div class="badge bg-dark">{{$.S.Appparent}}</div>
            </td>
            <td>
                <div class="badge bg-dark">{{$.S.Appthreads}}</div>
            </td>
            <td>
                <div class="badge bg-dark">{{$.S.Appusage}}</div>
            </td>
            <td> <a class="badge bg-success" href="/production">Start</a></td>
            <td><a class="badge bg-danger" href="/stop">Stop</a></td>
        </tr>
    </tbody>
    <thead>
        <tr>
            <th scope="col">Memory</th>
            <th scope="col">Total Allocations</th>
            <th scope="col">System</th>
            <th scope="col">NumGC</th>
        </tr>
    </thead>
    <tbody>
        <tr>

            <td>{{$.S.Alloc}}Mib</td>
            <td>{{$.S.Totalalloc}}Mib</td>
            <td>{{$.S.Sys}}Mib</td>
            <td>{{$.S.Numgc}}Mib</td>

        </tr>
    </tbody>
</table>
{{end}}
<!-- https://go.dev/play/p/_N963_qF5v6 -->


<!-- show tables -->
<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseOne">
                Accordion Item #1
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
            aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
                <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse
                plugin adds the appropriate classes that we use to style each element. These classes control the overall
                appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
                custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go
                within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseTwo">
                Accordion Item #2
            </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
                <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse
                plugin adds the appropriate classes that we use to style each element. These classes control the overall
                appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
                custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go
                within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseThree">
                Accordion Item #3
            </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body">
                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse
                plugin adds the appropriate classes that we use to style each element. These classes control the overall
                appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
                custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go
                within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
        </div>
    </div>
</div>











<style>
    h6 {
        text-align: center;
        text-decoration: underline;
        padding-top: 2%;
    }

    form {
        padding: 2%;
        margin: 2%;
    }



    .btn-flat {
        text-decoration: none;
    }

    .box {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2em;
    }

    .box img {
        width: 100px;
        height: 114px;
        -webkit-box-shadow: 1px 3px 15px -3px #000000;
        box-shadow: 1px 3px 15px -3px #000000;
    }

    .flex-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .flex-item {
        padding: 5px;
        width: 100px;
        height: 100px;
        margin-top: 10px;
        line-height: 150px;
        font-weight: bold;
        font-size: 3em;
        text-align: center;
    }
</style>

{{ template "footer" . }}